<p-dialog header="{{isEdit ? 'Update Product' : 'Create Product'}}" [(visible)]="displayModal" [modal]="true"
    [style]="{width: '40vw'}" [draggable]="false" [closable]="false" [resizable]="false">
    <i class="uil uil-x close-icon" (click)="closeModal()"></i>
    <div *ngIf="showError" class="error-message">
        Debes llenar todos los campos
    </div>
    <form [formGroup]="formProducts" autocomplete="off">
        <div class="form-controls">
            <label for="company">Company</label>
            <input type="text" formControlName='company' placeholder="Company">
        </div>
        <div class="form-controls">
            <label for="positino">Position</label>
            <input type="text" formControlName='position' placeholder="Position">
        </div>
        <div class="form-controls">
            <label for="status">Status</label>
            <!-- <select formControlName='status' class="form-control">
                <option *ngFor="let state of statusOptions" value="{{state}}">{{ state | titlecase }}</option>
            </select> -->
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button (click)="updateCreateJob()" class="p-button-text">
            {{isEdit ? 'Update' : 'Create'}}
        </button>
    </ng-template>
</p-dialog>