<div class="container">
    <div class="username-title">
        <i class="pi pi-user"></i>
        <h4>Administrador {{ username }}</h4>
    </div>
    <h5 *ngIf="msgAdded">Word pairs added...</h5>

    <div *ngIf="wordPairs.length" class="animate__animated animate__fadeIn">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Word 1</th>
                    <th>Word 2</th>
                    <th>isAnagram</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pair of wordPairs">
                    <td>{{pair.word1}}</td>
                    <td>{{pair.word2}}</td>
                    <td>
                        {{pair.isAnagram}}
                        <i *ngIf="!pair.isAnagram" class="pi pi-times ms-1"></i>
                        <i *ngIf="pair.isAnagram" class="pi pi-check ms-1"></i>
                    </td>
                    <td>
                        <i class="pi pi-pencil" style="cursor: pointer;" (click)="editMode(pair._id)"></i>
                        <i class="pi pi-trash ms-2" style="cursor: pointer;" (click)="deletePair(pair._id)"></i>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="mt-5">
        <p-card *ngIf="!wordPairs.length">
            Insert your first pair of words please....
        </p-card>
    </div>

</div>

<!--========================== MODAL ==========================-->
<p-dialog header="Update WordPair" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}"
    [draggable]="false" [closable]="true" [resizable]="false">
    <div *ngIf="modalError" class="error-message">
        Please fill all the fields
    </div>
    <form autocomplete="off">
        <div class="form-control">
            <label for="word1">Word 1</label>
            <input type="text" [(ngModel)]="editingWord1" placeholder="words..." name="word1">
        </div>
        <div class="form-control">
            <label for="word2">Word 2</label>
            <input type="text" [(ngModel)]="editingWord2" placeholder="words..." name="word2">
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (onClick)="updatePair()">update</p-button>
    </ng-template>
</p-dialog>