<nav>
    <div>
        <img class="nav-logo" src="assets/images/Disgrafic.jpg" alt="">
    </div>
    <div class="navbar-items-container">
        <ul>
            <li class="nav-items"><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/">Home</a></li>
            <li class="nav-items"><a routerLinkActive="active-link" routerLink="/products">Products</a></li>
            <li class="nav-items"><a routerLinkActive="active-link" routerLink="/calculator">Calculate</a></li>
            <li class="nav-items"><a routerLinkActive="active-link" routerLink="/users">Users</a></li>
            <li class="nav-items"><a routerLinkActive="active-link" routerLink="/about">About US</a></li>
        </ul>
    </div>
</nav>