section {
  display: grid;
  padding: 50px;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  place-items: center;
  background-color: transparent;
}

p-button {
  margin-left: 100px;
  cursor: pointer;
  z-index: 9;
}

.landing-title {
  text-align: center;
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-weight: 700;
}

.landing-description {
  font-size: medium;
  padding: 10px 30px;
  margin-left: 10px;
  font-weight: 500;
  text-align: left;
}

.image-home {
  width: 45vw;
  height: 40vh;
  transform: translateX(-20px);
}

.waves {
  position: absolute;
  bottom: 15%;
  grid-column: 1/-1;
}

@media only screen and (max-width: 700px) {
  section {
    padding: 20px;
    grid-template-columns: 2fr;
    color: var(--black-color);
  }
  .image-home {
    margin-top: 20px;
    width: 90%;
    border-radius: 2em;
  }
  .landing-description {
    font-weight: 700;
    padding: 10px 15px;
  }

  .waves {
    bottom: 5%;
  }
}

@media only screen and (max-width: 510px) {
  section {
    padding: 0px;
  }
  .image-home {
    width: 100%;
  }
  .landing-title {
    font-size: 2rem;
    padding-top: 10px;
  }
}
