<app-navbar></app-navbar>

<section>
    <img class="waves" src="assets/images/waves.svg" alt="">
    <div class="landing-description-container">
        <h1 class="landing-title">
            Publicidad & Impresos <br>
            <span>Disgrafic</span>
        </h1>
        <p class="landing-description">
            Somos una empresa con más de 20 años de experiencia en diseño
            gráfico, impresión digital, sourvenirs personalizados y todo
            tipo de medios publicitarios impresos.
        </p>
        <p-button>Ver más...</p-button>
    </div>
    <img class="image-home" src="assets/images/home.png" alt="home-image">
</section>


<app-footer></app-footer>