.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  place-items: center;
  background-color: transparent;
}

p-button {
  margin-left: 100px;
  cursor: pointer;
  z-index: 9;
}

.landing-title {
  text-align: center;
  font-family: var(--font-main);
  font-weight: 700;
}

.landing-description {
  padding: 10px 30px;
  margin-left: 10px;
  font-weight: 500;
  text-align: left;
}

.image-home {
  width: 45vw;
  height: 40vh;
  transform: translateX(-20px);
}

.waves {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 1300px) {
  .image-home {
    height: 30vh;
    width: 50vw;
  }

  .landing-description {
    font-size: 1.2rem;
  }

  .home-content {
    color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .home-content {
    grid-template-columns: 2fr;
  }
  .image-home {
    margin-top: 20px;
    width:  60vw;
    border-radius: 2em;
  }
  .landing-description {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 510px) {
  .home-content{
    padding: 0px;
    grid-template-rows: 2fr 1fr;
  }
  .image-home {
    width: 100%;
    object-fit: cover;
  }
  .landing-title {
    padding-top: 10px;
  }
}
