<section>
    <img class="waves" src="assets/images/waves.svg" alt="">
    <div class="landing-description-container">
        <h1 class="landing-title">
            Publicidad & Impresos <br>
            <span>Disgrafic</span>
        </h1>
        <p class="landing-description">
            La comunicación visual que proyecta tu marca es muy importante para nosotros,
            por eso nos encargamos de diseñar y elaborar productos publicitarios físicos, souverniers
            personalizados, entre otras cosas, para que puedas tener una mayor cercania con tus clientes.
        </p>
        <p-button>Ver más...</p-button>
    </div>
    <img class="image-home" src="assets/images/home.png" alt="home-image">
</section>