section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  align-content: center;
  background-color: transparent;
}

p-button {
  margin-left: 100px;
  cursor: pointer;
  z-index: 9;
}

.landing-title {
  text-align: center;
  transform: translateY(-1em);
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-weight: 700;
}

.landing-description {
  font-size: medium;
  padding: 10px 30px;
  margin-left: 10px;
  font-weight: 500;
  text-align: left;
}

.image-home {
  width: 55vw;
  height: 45vh;
  transform: translateX(-20px);
}

.waves {
  position: absolute;
  bottom: 0%;
  grid-column: 1/-1;
}

@media only screen and (max-width: 700px) {
  section {
    grid-template-columns: 2fr;
    background-image: url("src/assets/images/home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--black-color);
  }

  .image-home {
    display: none;
  }
  .landing-description {
    font-weight: 700;
    padding: 10px 15px;
  }

  .waves {
    bottom: 5%;
  }
}

@media only screen and (max-width: 400px) {
  section {
    background-position: 30% 95%;
    background-size: 80%;
    align-content: top;
    height: 60vh;
  }
  .landing-title {
    font-size: 1.5rem;
  }
  .landing-description-container {
    transform: translateY(-3.5em);
  }
  .landing-description {
    padding: 0px;
  }
  .waves {
    display: none;
  }
}
